In [2]:
import glob
import spacy
import re
import pandas as pd

In [16]:
df = pd.read_csv("data/filenames.csv")
df.head(1)

,Archive ID,Title,Volume,Image Count,SI Libraries URL,BHL URL,Internet Archive URL
0,annualreportofbo1862smit,Annual report of the Board of Regents of the S...,1862,464,https://library.si.edu/digital-library/book/an...,http://www.biodiversitylibrary.org/ia/annualre...,https://archive.org/details/annualreportofbo18...

In [4]:
nlp = spacy.blank("en")
nlp.add_pipe("sentencizer")

In [5]:
archive_ids = df["Archive ID"].tolist()

In [7]:
files = glob.glob("data/annual_reports/*.txt")
len(files)

198

In [17]:
all_data = []
index = []
x=0
for file in files:
    page = 0
    archive_id = file.split("\\")[-1].replace(".txt", "").split("_")[0]
    year = str(df.loc[df["Archive ID"] == archive_id].Volume.tolist()[0]).split()[0]
    title = df.loc[df["Archive ID"] == archive_id].Title.tolist()[0]

    with open(file, "r", encoding="utf-8") as f:
        data = f.read()
    data = re.sub("\[([^\)]+)\]", "", data)
    while "  " in data:
        data = data.replace("  ", " ")
    while "\n\n\n" in data:
        data = data.replace("\n\n\n", "\n\n")
    # sentences = list(nlp(data).sents)
    paras = data.split("\n\n")
    # for sent in sentences:
    #     if len(sent) > 8:
    for para in paras:
        if "\f" in para:
            page = page+1
        para = para.replace("\n- ", "")
        para = para.replace("\n-", "")
        para = para.replace("\n", " ")
        para = para.replace("- ", "")
        if len(para.split()) > 20:
            words = 0
            for word in para.split():
                if any(char.isdigit() for char in word):
                    pass
                else:
                    words = words+1
            if words > 20:
                all_data.append((x, para, year))
        index.append((archive_id, year, para, page))
        x=x+1
len(all_data)

161592

In [18]:
index[0]

('annualreportfory1951united',
 '1951',
 '\x0cSc. ON cla ph NE gia Senay ic li age ein ip i ia lnc i Te \x0c\x0cThe United States',
 1)

In [19]:
index_df = pd.DataFrame(index, columns=["text_file", "year", "paragraph", "page_num"])

In [20]:
index_df

,text_file,year,paragraph,page_num
0,annualreportfory1951united,1951,Sc. ON cla ph NE gia Senay ic li age ein ip i...,1
1,annualreportfory1951united,1951,National Museum,1
2,annualreportfory1951united,1951,"Annual Report for the Year Ended June 30, 1951",1
3,annualreportfory1951united,1951,SMITHSONIAN INSTITUTION Untrep States Nationa...,2
4,annualreportfory1951united,1951,Sir: I have the honor to submit herewith a rep...,2
...,...,...,...,...
438714,statementbysecre1984smit,1984,It is the opinion of the Institution that it i...,54
438715,statementbysecre1984smit,1984,aT ts = ae. UF! ey) Ll eat Ua A,55
438716,statementbysecre1984smit,1984,‘,55
438717,statementbysecre1984smit,1984,wv,55
438718,statementbysecre1984smit,1984,,55

In [21]:
index_df.to_csv("data/annual_reports_paras_full.csv", index=False)